<head>
    <link rel="stylesheet" href="../css/style.css">
</head>

<nav>
    <div id="img"></div>
    <div id="name"></div>
    <a href="/logout">logout</a>
</nav><hr>

<% if (user.isAdmin = 'false') { %>
    <div>
        <p>Admin</p>
        <p>Add products</p>
        <form id="addForm">
            <input type="text">
        </form>
    </div>
<% } %>

<% if (data) { %>
    <div id="productContainer"></div>
<% } %>

<script src="../js/home.js"></script>