<head>
    <link rel="stylesheet" href="../css/style.css">
</head>

<nav>
    <div id="img"></div>
    <div id="name"></div>
    <a href="/logout">logout</a>
</nav><hr>

<% if (user.isAdmin = 'false') { %>
    <div>
        <p>Admin</p>
        <p>Add products</p>
        <form id="addForm">
            <input type="text">
        </form>
    </div><hr>
<% } %>


<div id="productContainer"></div><hr>
<h1>carrito</h1>
<div id="cartContainer">
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>
<script src="../js/home.js"></script>
