<h1>LOGIN VIEW</h1>

<form id="loginForm">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>

<p>First time? <a href="/signup">signup!</a></p>

<script src="./js/login.js"></script>